{% extends 'news/default.html' %}
{% load custom_filters %}

{% block title%}{{title}}{% endblock title %}
{% if not author %}
    <button> <a href="sign/upgrade/">Стать автором</a> </button>
{% endif %}
{% block content%}
<div>
    <h1></h1>
    <h3>Количество новостей/статей на странице: {{ posts|length }}</h3>
    <hr>
    {% if posts %}
        {% for p in posts %}
            <a href="{% url 'index' p.pk %}"><h>Заголовок:&nbsp;</h>{{p.title|censor:5}}</a><br>
            <h>Текст статьи:&nbsp;{{p.text|truncatechars:10}}</h>
            <p>Дата создания:&nbsp;{{p.created|date:'M d Y'}}</p>
            <a href="{% url 'post_update' p.pk %}"><u>Редактировать</u></a>&nbsp;
            <a href="{% url 'post_delete' p.pk %}"><u>Удалить</u></a><hr>
        {% endfor %}
        {% if is_paginated %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{p}}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-num">
                <a href="?page={{p}}">{{p}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
        {% else %}
            <h1>Ничего нет</h1>
        {% endif %}
    <a href="{% url 'add' %}">Добавить запись</a><br>
</div>
{% endblock %}