{% extends 'news/default.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Заголовок: {{post.title}}</h1>
        <P>Текст: {{post.text}}</P>
        <P>Автор: {{post.author}}</P>
        <P>Дата создания: {{post.created}}</P>
    </div>
    <p>Категории поста:
        {% for category in post.cats.all %}
            <br><strong>{{ category }}</strong>
            {% if not request.user in category.subscribes.all %}
                <button><a href="{% url 'sub' category.pk user.pk %}">Subscribe</a></button>
            {% else %}
                <button><a href="">Unsubscribe</a></button>
            {%endif%}
        {% endfor %}
    </p>
{% endblock %}