{% extends 'news/default.html' %}

{% block title%}{{title}}{% endblock title %}

{% block content%}
<form method="GET">
    <div class="form-group">
        {{ filter.form }}
        <input type="submit"  value="Найти">
    </div>
</form>
<div>
    {% if filter %}
    {% for p in filter.qs %}
            <h3>Заголовок:&nbsp;{{p.title}}</h3>
            <p>Текст статьи:&nbsp;{{p.text}}</p>
            <p>Дата создания:&nbsp;{{p.created|date:'M d Y'}}</p>
            <hr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
